<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="baf4f0">  <td>21/01/10 00:06:23</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;OnlineTask.setUp()[pri:0, instance:com.corp.test.tests.OnlineTask@5d740a0f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@494317290</td>   <td></td> </tr>
<tr bgcolor="baf4f0">  <td>21/01/10 00:06:44</td>   <td>21008</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OnlineTask.OperationsOnCreditRepair()[pri:0, instance:com.corp.test.tests.OnlineTask@5d740a0f]">OperationsOnCreditRepair</td> 
  <td>main@494317290</td>   <td></td> </tr>
<tr bgcolor="baf4f0">  <td>21/01/10 00:07:19</td>   <td>56017</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;OnlineTask.teardown()[pri:0, instance:com.corp.test.tests.OnlineTask@5d740a0f]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@494317290</td>   <td></td> </tr>
</table>
